# Kendall Tau Distance

In [1]:
from scipy.stats import kendalltau
import numpy as np
import wiggum as wg
import itertools

In [2]:
subgroup = ['A', 'B']
aggregate = ['B','A']

Note the below is for intution only, not the exact code that's in the package, it requires lists of the same length and the distance function accomodates lists of different lengths

In [3]:
all_vals = set(subgroup + aggregate)
all_vals

{'A', 'B'}

In [4]:
sorted(all_vals)

['A', 'B']

In [20]:
def categorical_kendalltau_u(list1,list2):
    
    all_vals = set(list1+list2)
    
    numeric_map = {a:i for i,a in enumerate(all_vals)}
    numeric_a = [numeric_map[a] for a in list1]
    numeric_b = [numeric_map[b] for b in list2]
    
    n_a = len(numeric_a)
    n_b = len(numeric_b)
    if n_a < n_b:
        append_nums = list(range(n_a,n_b))
        numeric_a.extend(append_nums)
    if n_a > n_b:
        append_nums = list(range(n_b,n_a))
        numeric_b.extend(append_nums)

    return kendalltau(numeric_a,numeric_b)

In [6]:
def categorical_kendalltau(list1,list2):
    
#     if len()
    list_diff = set(list1).difference(set(list2))
    
    all_vals = list1.copy()
    all_vals.extend(list_diff)
    
    numeric_map = {a:i for i,a in enumerate(all_vals)}
    numeric_a = [numeric_map[a] for a in list1]
    numeric_b = [numeric_map[b] for b in list2]
    

    n_a = len(numeric_a)
    n_b = len(numeric_b)
    if n_a < n_b:
        append_nums = list(range(n_a,n_b))
        numeric_a.extend(append_nums)
    if n_a > n_b:
        append_nums = list(range(n_b,n_a))
        numeric_b.extend(append_nums)

    return kendalltau(numeric_a,numeric_b)

In [7]:
tau,p = categorical_kendalltau(aggregate,subgroup)
tau

-1.0

Kendall's $\tau$ varies from -1 (exact opposite) to 1 (perfect match). To use it as a distance, we want perfect match to be 1 and exact opposite to be 0, so then we scale it.

In [8]:
scale = lambda t: (t+1)/2
flip = lambda t: 1-t

In [9]:
subgroup = ['B', 'W','H']
aggregate = ['B','H','W',]
tau,p = categorical_kendalltau_u(aggregate,subgroup)
print(tau,scale(tau),flip(scale(tau)))

0.33333333333333337 0.6666666666666667 0.33333333333333326

In [10]:
subgroup = ['A', 'B','C']
aggregate = ['A','C','B']
tau,p = categorical_kendalltau_u(aggregate,subgroup)
print(tau,scale(tau),flip(scale(tau)))

-1.0 0.0 1.0

In [11]:
subgroup = ['A', 'B','C','D']
aggregate = ['C','A','D','B']
tau,p = categorical_kendalltau_u(aggregate,subgroup)
print(tau,scale(tau),flip(scale(tau)))

0.0 0.5 0.5

In [12]:
subgroup = ['A', 'B','C']
aggregate = ['C','B','A',]
tau,p = categorical_kendalltau_u(aggregate,subgroup)
print(tau,scale(tau),flip(scale(tau)))

0.33333333333333337 0.6666666666666667 0.33333333333333326

In [13]:
subgroup = ['A', 'B','C']
aggregate = ['A', 'B','C']
tau,p = categorical_kendalltau_u(aggregate,subgroup)
print(tau,scale(tau),flip(scale(tau)))

1.0 1.0 0.0

In [14]:
subgroup = [ 'B','C','A']
aggregate = ['A', 'B','C']
tau,p = categorical_kendalltau_u(aggregate,subgroup)
print(tau,scale(tau),flip(scale(tau)))

-0.33333333333333337 0.3333333333333333 0.6666666666666667

In [15]:
subgroup = ['A', 'B','C']
aggregate = ['C','A', 'B']
tau,p = categorical_kendalltau_u(aggregate,subgroup)
print(tau,scale(tau),flip(scale(tau)))

-0.33333333333333337 0.3333333333333333 0.6666666666666667

In [16]:
subgroup = [ 'B','C','A']
aggregate = ['C','A', 'B']
tau,p = categorical_kendalltau_u(aggregate,subgroup)
print(tau,scale(tau),flip(scale(tau)))
tau,p = categorical_kendalltau(aggregate,subgroup)
print(tau,scale(tau),flip(scale(tau)))

-0.33333333333333337 0.3333333333333333 0.6666666666666667
-0.33333333333333337 0.3333333333333333 0.6666666666666667

In [17]:
subgroup = [ 'B','A','C','D']
aggregate = ['C','A', 'B','D']
tau,p = categorical_kendalltau(aggregate,subgroup)
print(tau,scale(tau),flip(scale(tau)))
tau,p = categorical_kendalltau_u(aggregate,subgroup)
print(tau,scale(tau),flip(scale(tau)))
tau, p = kendalltau(subgroup,aggregate,)

print(tau, scale(tau),flip(scale(tau)))

0.0 0.5 0.5
-0.6666666666666669 0.16666666666666657 0.8333333333333335
0.6666666666666669 0.8333333333333335 0.16666666666666652

In [25]:
subgroup = [ .4,.2,.6,.7]
aggregate = [.6,.2,.5,.8]

tau, p = kendalltau(aggregate,subgroup)

print(tau, scale(tau),flip(scale(tau)))

0.6666666666666669 0.8333333333333335 0.16666666666666652

In [34]:
# make these match above and then try again to checks
# subgroup = [ .4,.2,.6,.7]
# aggregate = [.6,.2,.5,.8]
# imagine that the # above are for A,B,C,D then the below would be the sorted names
subgroup = [ 'B','A','C']
aggregate = ['B','D','A','C']
tau,p = categorical_kendalltau(aggregate,subgroup)
print(tau,scale(tau),flip(scale(tau)))
tau,p = categorical_kendalltau_u(aggregate,subgroup)
print(tau,scale(tau),flip(scale(tau)))
subgroup.extend('H')
tau, p = kendalltau(aggregate,subgroup)

print(tau, scale(tau),flip(scale(tau)))

0.18257418583505539 0.5912870929175277 0.4087129070824723
0.5477225575051662 0.7738612787525831 0.22613872124741685
-0.3333333333333334 0.33333333333333326 0.6666666666666667

In [28]:
subgroup.extend('F')

# Kendall's Tau Distance

In [114]:


def kendall_tau_distance(order_a, order_b):
    pairs = itertools.combinations(sorted(set(order_a+order_b)), 2)
    distance = 0
    den = 0
    for x, y in pairs:
        den +=1
        try:
            a = order_a.index(x) - order_a.index(y)
            b = order_b.index(x) - order_b.index(y)

            # if opposite signs, then discordant
            if a * b < 0:
                distance += 1
            print(x,y,a*b)
        except:
            print(x,y)
    return distance/den

In [115]:
subgroup = [ 'B','A','C','D']
aggregate = ['B','C','A', 'D']
kendall_tau_distance(aggregate,subgroup)

A B 2
A C -1
A D 2
B C 2
B D 9
C D 2

0.16666666666666666

In [116]:
subgroup = [ 'B','A','C','D']
aggregate = ['A','B','C','D']
kendall_tau_distance(aggregate,subgroup)

A B -1
A C 2
A D 6
B C 2
B D 6
C D 1

0.16666666666666666

In [118]:
subgroup = [ 'B','A','C','D']
aggregate = ['B','C','A','D']

kendall_tau_distance(aggregate,subgroup)

A B 2
A C -1
A D 2
B C 2
B D 9
C D 2

0.16666666666666666

In [120]:
subgroup = [ 'B','A','D']
aggregate = ['B','C','A','D']

kendall_tau_distance(aggregate,subgroup)

A B 2
A C
A D 1
B C
B D 6
C D

0.0

In [121]:
subgroup = [ 'B','A','D','C']
aggregate = ['B','C','A','D']

kendall_tau_distance(aggregate,subgroup)

A B 2
A C -2
A D 1
B C 3
B D 6
C D -2

0.3333333333333333

In [119]:
subgroup = [ 'B','A','C']
aggregate = ['B','C','A','D']

kendall_tau_distance(aggregate,subgroup)

A B 2
A C -1
A D
B C 2
B D
C D

0.16666666666666666

In [50]:
1/6

0.16666666666666666

In [45]:
['b','c','d'].index('a')

ValueError: 'a' is not in list

# Kendall Tau for rank strength

We also use kendall tau for computing a strength of a ranking.  To demonstrate this, we'll load a dataset

In [23]:
labeled_df = wg.LabeledDataFrame('../wiggum_app/static/data/rateSPdataDeptRace.csv')

In [24]:
labeled_df.df.head()

variable  department gender  decision race
0                  3      M         1    W
1                  3      M         1    H
2                  0      F         0    W
3                  1      F         0    H
4                  3      M         1    W

In [25]:
labeled_df.infer_var_types()
labeled_df.meta_df

             dtype     var_type role isCount weighting_var
variable
department   int64      ordinal  NaN     NaN           NaN
gender      object       binary  NaN     NaN           NaN
decision     int64       binary  NaN     NaN           NaN
race        object  categorical  NaN     NaN           NaN

In [26]:
roles = {'department':['groupby','trend'],'gender':['groupby','trend'],'decision':'trend','race':['groupby','trend']}
var_types = {'gender':'categorical','department':'categorical'}

labeled_df.set_roles(roles)
labeled_df.set_var_types(var_types)
labeled_df.meta_df

             dtype     var_type              role isCount weighting_var
variable
department   int64  categorical  [groupby, trend]     NaN           NaN
gender      object  categorical  [groupby, trend]     NaN           NaN
decision     int64       binary             trend     NaN           NaN
race        object  categorical  [groupby, trend]     NaN           NaN

In [27]:
labeled_df.to_csvs('../data/rateSPdataDeptRace')

In [28]:
rankfeat = 'race'
statfeat = 'decision'

In [29]:
stat_df = labeled_df.df.groupby(rankfeat)[statfeat].mean()
stat_df.sort_values(inplace=True)
stat_df

race
B    0.230000
H    0.252174
W    0.253503
Name: decision, dtype: float64

In [30]:
ordered_rank_feat = stat_df.index.values
ordered_rank_feat

array(['B', 'H', 'W'], dtype=object)

In [31]:
actual_order = labeled_df.df.sort_values(statfeat)[rankfeat]
actual_order.values

array(['H', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'H', 'W', 'W', 'W', 'W', 'W', 'H', 'W', 'W', 'W',
       'H', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'B', 'W', 'W', 'W',
       'W', 'W', 'H', 'W', 'W', 'W', 'W', 'W', 'W', 'B', 'H', 'W', 'W',
       'W', 'W', 'W', 'W', 'H', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'B', 'B', 'W', 'H', 'B', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'H', 'W', 'W', 'W', 'W', 'B', 'W', 'W', 'W',
       'W', 'W', 'W', 'B', 'W', 'W', 'W', 'W', 'B', 'W', 'W', 'W', 'B',
       'W', 'W', 'W', 'W', 'B', 'W', 'W', 'B', 'W', 'B', 'B', 'W', 'B',
       'W', 'W', 'H', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'B', 'B', 'H', 'W', 'B', 'W', 'W', 'W', 'W', 'W',
       'W', 'B', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'B', 'W', 'W', 'W',
       'B', 'H', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'B', 'B', 'H', 'W',
       'W', 'W', 'W', 'B', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'B', 'W',
       'W', 'W', 'W', 'W', 'B', 'B', 'W', 'H', 'B', 'W', 'B', 'H', 'W',
       'B', 'W', 'W', 'B', 'H', 'W', 'W', 'W', 'H', 'H', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'B', 'H', 'W', 'B', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'H', 'W', 'H', 'W',
       'B', 'W', 'W', 'W', 'H', 'B', 'W', 'W', 'H', 'W', 'B', 'B', 'W',
       'H', 'W', 'H', 'W', 'W', 'W', 'W', 'W', 'H', 'H', 'W', 'W', 'W',
       'W', 'W', 'W', 'H', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'H', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'B', 'W', 'W', 'W', 'H', 'W', 'H', 'W', 'W',
       'W', 'W', 'B', 'W', 'W', 'W', 'B', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'B', 'W', 'W', 'W', 'W', 'W', 'W', 'H', 'W',
       'W', 'W', 'W', 'W', 'H', 'H', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'B', 'H', 'B', 'W', 'W', 'W', 'W', 'H', 'B', 'W', 'W',
       'H', 'W', 'W', 'W', 'W', 'W', 'W', 'H', 'W', 'W', 'W', 'W', 'W',
       'W', 'B', 'W', 'W', 'W', 'W', 'W', 'W', 'H', 'B', 'H', 'W', 'H',
       'H', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'B', 'H', 'W',
       'W', 'W', 'B', 'W', 'W', 'W', 'W', 'H', 'W', 'H', 'W', 'B', 'W',
       'W', 'W', 'W', 'W', 'H', 'W', 'W', 'H', 'B', 'W', 'H', 'H', 'B',
       'W', 'B', 'B', 'W', 'W', 'W', 'W', 'W', 'B', 'W', 'W', 'W', 'H',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'B', 'W', 'W', 'W', 'B', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'H', 'W', 'H', 'B', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'H', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'H', 'H',
       'W', 'W', 'W', 'B', 'W', 'W', 'W', 'W', 'H', 'W', 'W', 'W', 'H',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'H', 'H', 'W', 'W', 'W', 'B',
       'H', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'H', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'H', 'W', 'W', 'W', 'H', 'W', 'B', 'W', 'W',
       'B', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'B', 'W', 'B', 'H', 'W', 'W', 'H', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'B', 'H', 'W', 'W', 'W', 'W', 'H', 'W', 'W',
       'W', 'W', 'W', 'W', 'H', 'W', 'H', 'W', 'H', 'H', 'H', 'B', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'B', 'W', 'W',
       'B', 'W', 'B', 'W', 'W', 'W', 'H', 'W', 'H', 'W', 'W', 'B', 'W',
       'W', 'W', 'H', 'B', 'B', 'W', 'W', 'W', 'W', 'W', 'B', 'H', 'B',
       'H', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'H', 'W', 'H', 'W', 'W',
       'W', 'H', 'W', 'W', 'W', 'W', 'W', 'W', 'H', 'W', 'W', 'W', 'H',
       'W', 'W', 'W', 'B', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'H', 'W', 'H', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'B', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'H',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'B', 'H', 'W', 'W', 'W', 'W', 'W', 'W', 'B', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'B', 'W', 'W', 'W', 'W', 'W', 'W', 'H', 'W', 'W',
       'H', 'H', 'W', 'W', 'W', 'H', 'B', 'W', 'W', 'H', 'W', 'W', 'W',
       'B', 'W', 'W', 'B', 'H', 'W', 'H', 'W', 'H', 'H', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'H', 'W', 'W', 'W', 'H', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'B', 'W', 'B', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'H', 'W', 'W', 'W', 'W', 'W', 'W', 'H', 'W', 'W', 'W',
       'W', 'W', 'W', 'H', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'H', 'W',
       'W', 'B', 'B', 'B', 'W', 'W', 'W', 'H', 'W', 'W', 'W', 'H', 'W',
       'W', 'W', 'H', 'W', 'W', 'W', 'W', 'H', 'W', 'H', 'W', 'W', 'W',
       'B', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'B', 'W', 'H', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'B',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'H', 'W', 'B', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'B', 'W', 'W', 'W', 'W', 'W', 'W', 'B',
       'W', 'B', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'B', 'W', 'B', 'W', 'W', 'W', 'W', 'W', 'W',
       'B', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'B', 'W',
       'W', 'W', 'B', 'W', 'W', 'W', 'W', 'W', 'B', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'H', 'W', 'B', 'H', 'W', 'W', 'H',
       'W', 'H', 'H', 'W', 'H', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'B', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'H', 'W'],
      dtype=object)

if the data is weighted we do some additional replications, if very large amount of weighting we do an approximation

In [32]:
counts = labeled_df.df.groupby([rankfeat])[statfeat].count()
rep_counts = [int(counts[ov]) for ov in ordered_rank_feat]
trend_order = np.repeat(ordered_rank_feat,rep_counts)
trend_order

array(['B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'H', 'H', 'H', 'H',
       'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H',
       'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H',
       'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H',
       'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H',
       'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H',
       'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H',
       'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H',
       'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H',
       'H', 'H', 'H', 'H', 'H', 'H', 'H', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W'],
      dtype=object)

In [33]:
# map the possibly string order lists into numbers
numeric_map = {a:i for i,a in enumerate(actual_order)}
num_acutal = [numeric_map[a] for a in actual_order]
num_trend = [numeric_map[b] for b in trend_order]
# compute and round
tau,p = kendalltau(num_trend,num_acutal)
tau_qual = np.abs(np.round(tau,4))
tau_qual

0.022

To get intution, we'll make a plot

In [34]:
num_trend

[990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 990,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 998,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999,
 999]

In [35]:
test_score = {'F':70,'M':90}
grade_exact = lambda row: test_score[row['gender']]
labeled_df.df['test'] = labeled_df.df.apply(grade_exact,axis=1)
labeled_df.df.head()

variable  department gender  decision race  test
0                  3      M         1    W    90
1                  3      M         1    H    90
2                  0      F         0    W    70
3                  1      F         0    H    70
4                  3      M         1    W    90

In [36]:
rankfeat = 'gender'
statfeat = 'test'
stat_df = labeled_df.df.groupby(rankfeat)[statfeat].mean()
stat_df.sort_values(inplace=True)
ordered_rank_feat = stat_df.index.values
actual_order = labeled_df.df.sort_values(statfeat)[rankfeat]

counts = labeled_df.df.groupby([rankfeat])[statfeat].count()
rep_counts = [int(counts[ov]) for ov in ordered_rank_feat]
trend_order = np.repeat(ordered_rank_feat,rep_counts)
numeric_map = {a:i for i,a in enumerate(actual_order)}
num_acutal = [numeric_map[a] for a in actual_order]
num_trend = [numeric_map[b] for b in trend_order]
# compute and round
tau,p = kendalltau(num_trend,num_acutal)
tau_qual = np.abs(np.round(tau,4))
tau_qual

1.0

In [37]:
grade_noisy = lambda row: test_score[row['gender']] + 5*np.random.normal()
labeled_df.df['noisy_test'] = labeled_df.df.apply(grade_noisy,axis=1)
labeled_df.df.head()

variable  department gender  decision race  test  noisy_test
0                  3      M         1    W    90   90.413296
1                  3      M         1    H    90   89.358354
2                  0      F         0    W    70   74.202435
3                  1      F         0    H    70   73.022994
4                  3      M         1    W    90   92.666771

In [38]:
rankfeat = 'gender'
statfeat = 'noisy_test'
stat_df = labeled_df.df.groupby(rankfeat)[statfeat].mean()
stat_df.sort_values(inplace=True)
ordered_rank_feat = stat_df.index.values
actual_order = labeled_df.df.sort_values(statfeat)[rankfeat]

counts = labeled_df.df.groupby([rankfeat])[statfeat].count()
rep_counts = [int(counts[ov]) for ov in ordered_rank_feat]
trend_order = np.repeat(ordered_rank_feat,rep_counts)
numeric_map = {a:i for i,a in enumerate(actual_order)}
num_acutal = [numeric_map[a] for a in actual_order]
num_trend = [numeric_map[b] for b in trend_order]
# compute and round
tau,p = kendalltau(num_trend,num_acutal)
tau_qual = np.abs(np.round(tau,4))
tau_qual

0.9421

In [39]:
stat_df

gender
F    70.367456
M    89.998871
Name: noisy_test, dtype: float64

In [40]:

rankfeat = 'gender'

for s in [5,10,15,20]:
    grade_noisy = lambda row: test_score[row['gender']] + s*np.random.normal()
    statfeat = 'noisy_test'+str(s)
    labeled_df.df[statfeat] = labeled_df.df.apply(grade_noisy,axis=1)

    stat_df = labeled_df.df.groupby(rankfeat)[statfeat].mean()
    stat_df.sort_values(inplace=True)
    print(stat_df)
    ordered_rank_feat = stat_df.index.values
    actual_order = labeled_df.df.sort_values(statfeat)[rankfeat]

    counts = labeled_df.df.groupby([rankfeat])[statfeat].count()
    rep_counts = [int(counts[ov]) for ov in ordered_rank_feat]
    trend_order = np.repeat(ordered_rank_feat,rep_counts)
    numeric_map = {a:i for i,a in enumerate(actual_order)}
    num_acutal = [numeric_map[a] for a in actual_order]
    num_trend = [numeric_map[b] for b in trend_order]
    # compute and round
    tau,p = kendalltau(num_trend,num_acutal)
    tau_qual = np.abs(np.round(tau,4))
    print('spread',s)
    print('tau score',tau_qual)

gender
F    69.936420
M    89.820681
Name: noisy_test5, dtype: float64
spread 5
tau score 0.9421
gender
F    70.482161
M    90.259801
Name: noisy_test10, dtype: float64
spread 10
tau score 0.6608
gender
F    69.247512
M    89.850372
Name: noisy_test15, dtype: float64
spread 15
tau score 0.5036
gender
F    68.388989
M    89.371112
Name: noisy_test20, dtype: float64
spread 20
tau score 0.4125

As the variance increases, the scores are more mixed and the score goes down even though the means stay the same

In [41]:
p = {'M':.8,'F':.1}
# p_admit = [p, 1-p]
biased_admit = lambda row: np.random.choice([1,0],p=[p[row['gender']],1-p[row['gender']]])
labeled_df.df['biased_admit'] = labeled_df.df.apply(biased_admit,axis=1)
labeled_df.df.head()

variable,department,gender,decision,race,test,noisy_test,noisy_test5,noisy_test10,noisy_test15,noisy_test20,biased_admit
0,3,M,1,W,90,90.413296,100.636836,101.283539,95.816860,88.533831,1
1,3,M,1,H,90,89.358354,95.187996,103.576958,92.407003,99.729877,0
2,0,F,0,W,70,74.202435,68.653376,67.123154,80.689733,38.690092,0
3,1,F,0,H,70,73.022994,73.102952,58.895272,69.694809,52.820663,0
4,3,M,1,W,90,92.666771,94.383422,108.420734,97.662001,80.501345,1

In [42]:
rankfeat = 'gender'
statfeat = 'biased_admit'
stat_df = labeled_df.df.groupby(rankfeat)[statfeat].mean()
stat_df.sort_values(inplace=True)
ordered_rank_feat = stat_df.index.values
actual_order = labeled_df.df.sort_values(statfeat)[rankfeat]

counts = labeled_df.df.groupby([rankfeat])[statfeat].count()
rep_counts = [int(counts[ov]) for ov in ordered_rank_feat]
trend_order = np.repeat(ordered_rank_feat,rep_counts)
numeric_map = {a:i for i,a in enumerate(actual_order)}
num_acutal = [numeric_map[a] for a in actual_order]
num_trend = [numeric_map[b] for b in trend_order]
# compute and round
tau,p = kendalltau(num_trend,num_acutal)
tau_qual = np.abs(np.round(tau,4))
tau_qual

0.5491

In [43]:
stat_df

gender
F    0.088020
M    0.781726
Name: biased_admit, dtype: float64

We can get high scores even for binary decisions if it's really bad, but mostly these will not be very high and will vary with the number of rows