In [2]:
import wiggum as wg
import pandas as pd
import numpy as pd
from scipy.stats import kendalltau

In [74]:
labeled_df=wg.LabeledDataFrame('../data/genderpaygap')

In [63]:
labeled_df.meta_df['role']='nan'
labeled_df.meta_df

,dtype,var_type,role,isCount,weighting_var,roles
variable,,,,,,
role,object,categorical,"[splitby, [independent, dependent]]",False,NaN,nan
gender,object,categorical,"[splitby, [independent, dependent]]",False,NaN,nan
Headcount,int64,ordinal,[ignore],True,NaN,nan
MeanHourlyPay,int64,continuous,"[[independent, dependent]]",False,Headcount,nan

In [76]:
roles={'role':['splitby', 'independent'], 'gender':['splitby', 'independent'], 'Headcount':['ignore'], 'MeanHourlyPay':['dependent']}
labeled_df.set_roles(roles)

c:\users\pad39\appdata\local\programs\python\python38\lib\site-packages\wiggum\labeled_dataframe.py:367: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.meta_df['role'][k] = v

In [77]:
labeled_df.meta_df

,dtype,var_type,role,isCount,weighting_var
variable,,,,,
role,object,categorical,"[splitby, independent]",False,NaN
gender,object,categorical,"[splitby, independent]",False,NaN
Headcount,int64,ordinal,[ignore],True,NaN
MeanHourlyPay,int64,continuous,[dependent],False,Headcount

In [81]:
binary=wg.Mean_Rank_Trend()
binary.get_trend_vars(labeled_df)

(['MeanHourlyPay'], ['role', 'gender'])

In [83]:
binary.get_trends(labeled_df.df, 'agg_trend')

,independent,dependent,agg_trend,agg_trend_strength,trend_type
0,role,MeanHourlyPay,"[Support, R&D engineering, Sales, Management]",0.8737,rank_trend
1,gender,MeanHourlyPay,"[F, M]",0.6822,rank_trend

In [4]:
labeled_df.df

              role gender  Headcount  MeanHourlyPay

0       Management      M        200             25
1  R&D engineering      M        100             20
2            Sales      M        100             20
3          Support      M        100             10
4       Management      F        120             25
5  R&D engineering      F         60             20
6            Sales      F         60             20
7          Support      F        260             10

In [46]:
def categorical_kendalltau_u(list1,list2):
    
    all_vals = set(list1+list2)
    
    numeric_map = {a:i for i,a in enumerate(all_vals)}
    numeric_a = [numeric_map[a] for a in list1]
    numeric_b = [numeric_map[b] for b in list2]
    
    n_a = len(numeric_a)
    n_b = len(numeric_b)
    if n_a < n_b:
        append_nums = list(range(n_a,n_b))
        numeric_a.extend(append_nums)
    if n_a > n_b:
        append_nums = list(range(n_b,n_a))
        numeric_b.extend(append_nums)

    return kendalltau(numeric_a,numeric_b)

In [47]:
def categorical_kendalltau(list1,list2):
    
#     if len()
    list_diff = set(list1).difference(set(list2))
    
    all_vals = list1.copy()
    all_vals.extend(list_diff)
    
    numeric_map = {a:i for i,a in enumerate(all_vals)}
    numeric_a = [numeric_map[a] for a in list1]
    numeric_b = [numeric_map[b] for b in list2]
    

    n_a = len(numeric_a)
    n_b = len(numeric_b)
    if n_a < n_b:
        append_nums = list(range(n_a,n_b))
        numeric_a.extend(append_nums)
    if n_a > n_b:
        append_nums = list(range(n_b,n_a))
        numeric_b.extend(append_nums)

    return kendalltau(numeric_a,numeric_b)

In [22]:
labeled_df.meta_df

,dtype,var_type,role,isCount,weighting_var
variable,,,,,
role,object,categorical,"[splitby, [independent, dependent]]",False,NaN
gender,object,categorical,"[splitby, [independent, dependent]]",False,NaN
Headcount,int64,ordinal,[ignore],True,NaN
MeanHourlyPay,int64,continuous,"[[independent, dependent]]",False,Headcount

In [44]:
list_a=list(labeled_df.df['role'])
list_b=list(labeled_df.df['gender'])
list_a

['Management',
 'R&D engineering',
 'Sales',
 'Support',
 'Management',
 'R&D engineering',
 'Sales',
 'Support']

In [51]:
categorical_kendalltau(list_b, list_b)

KendalltauResult(correlation=1.0, pvalue=0.0081509715935027)