binanry decisionn variable sp (eg berkely admissions)
2 grouping varibles & a binary
 - 1 grouping variable eg gender
 - grouping variable has class imbalance
mixed: use continus variables to define the decsion variable.


## To induce SP in rates

we need the grouping variable to have onen rate of success in decision variable that is the opposite rate of the overall, so we need to sam

In [2]:
import numpy as np
import pandas as pd
import string
import matplotlib.pylab as plt

In [59]:
p_dept = [.2,.1,.1,.6]
p_gender_dept = [[.7, .3],[.8,.2],[.85,.15],[.3,.7]]
gender_list = ['F','M']
p_admit_dept = [[.15,.85], [.2,.8], [.25,.75],[.4,.6]]
N = 150

d = np.random.choice(list(range(len(p_dept))), size=N, p =p_dept)
g = [np.random.choice(gender_list, p =p_gender_dept[d_i]) for d_i in d]
a = [np.random.choice([1,0],p = p_admit_dept[d_i]) for d_i in d]
data = [[d_i,g_i,a_i] for d_i, g_i,a_i in zip(d,g,a)]

df = pd.DataFrame(data = data, columns=['department','gender','decision'])
df.head()

   department gender  decision
0           1      M         1
1           2      F         0
2           0      F         0
3           2      F         0
4           3      F         1

In [60]:
df.groupby('gender')['decision'].mean()

gender
F    0.271429
M    0.312500
Name: decision, dtype: float64

In [61]:
df.groupby(['gender','department']).mean().unstack()

            decision
department         0    1         2        3
gender
F           0.047619  0.1  0.272727  0.50000
M           0.111111  0.2  0.500000  0.34375